[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DMCFB"]
	path = DMCFB
	url = https://github.com/shokoohi/dmcfb
[submodule "DMCHMM"]
	path = DMCHMM
	url = https://github.com/shokoohi/dmchmm
[submodule "fmrs"]
	path = fmrs
	url = https://github.com/shokoohi/fmrs
