[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "DMCFB"]
	path = DMCFB
	url = https://github.com/shokoohi/dmcfb
	shallow = true
	registered = true
[submodule "DMCHMM"]
	path = DMCHMM
	url = https://github.com/shokoohi/dmchmm
	shallow = true
	registered = true
